body {
    background-color: black;
    margin: 0px;
    color:rgb(165, 31, 31);
}
/* navbar */
#navigation_bar {
    background-color:black;
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0px 0px 15px 0px rgb(237, 237, 130); 
    flex-direction: row;
    height: 5rem;
    width: 100%;
    position: fixed;
    margin-top: 0%;
    z-index:1;
}

#button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.button {
    margin: 12% 6% 6% 6%;
    font-size: 1rem;
    text-decoration: underline;
    font-weight:900;
}

.button:hover {
    cursor: pointer;
}

#button_for_media {
    display: none;
}

.button_for_media:hover {
    cursor: pointer;
}

#navigation_bar p {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1.5%;
}
#icon {
    display: none;
}
#icon:hover{
    cursor: pointer;
}

/* image and image  */
#intro {
    padding-top: 6%;
    display: flex;
    justify-content: space-between;
}

#paragraph {
    margin: 3% 3% 3% 3%;
    padding: 5% 4% 4% 4%;
}
.paragraph {
    font-size: 1rem;
   color:rgb(242, 234, 197) ;
}

#name {
    font-size: 2rem;
    font-weight: bold;
}

#caption {
    font: size 1.2em;
    color: rgb(242, 234, 197);
}

#social_media_division {
    display: flex;
    flex-direction: row;
}

.social_media_link img {
    height: 2vw;
    border-radius: 2vw;
}

.social_media_link {
    margin: 3%;
}
.social_media_link img:hover{
    height:5vw;
}

#myimage {
    margin: 3% 3% 3% 3%;
}

#myimage img {
    transform: scaleX(-1);
    height: 100%;
    width: 100%;
}

/* detail section  */

.section {
    font-size: large;
    font-weight: bolder;
   margin-right: 0%;
}

.parasection {
    box-shadow: 0px 5px 15px -9px rgb(237, 237, 130);
    margin: 0%;
    padding-left: 1%;
    padding-top: 1%;
    border-bottom: 1.5px solid black;
}

.symbol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img_up_symbul{
height: 2vw;
border: 1px solid black;
border-radius: 5px;
 margin-right:1%;
margin-top: 1%;

}

/* resume  */
#flip_resume_containt img{
    margin: 1% 28% 1% 28%;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px 4px rgb(237, 237, 130); */
    width:50vw;

}
#flip_resume_containt{
display: none;
flex-direction: column;
align-items: center;
}
#flip_resume_containt button{
    width: fit-content;
 padding: 1%;
 border-radius: 5px;
 background-color: rgb(36, 36, 242);
 font-weight: 500;
}
/* skill  */
#flip_skill_containt{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#flip_skill_containt img{
    margin: 3%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(237, 237, 130);
    height:5rem;
}

/* project  */
#todo img{
    margin: 0% 25% 0% 25%;
    width: 50%;
}
#calculator img{
    margin:0% 25% 0% 25%;
    width: 50%;
    
    }
#flip_project_containt{
display: none;
}
/* contact  */
.contact_link {
    text-decoration: none;

}
#flip_contact_containt{
display: none;
}
/* about  */
#about_section ul li {
    font-size: 1.2rem;
}
#flip_about_containt{
display: none;
}
/* comman  */
h2{
    text-align: center;
}
@media screen and (max-width:800px) {
    #button {
        display: none;
    }

    #icon {
        display: block;
        margin: 3% 3% 3% 3%;
    }
   
    #button_for_media {
        color: white;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        background-color: black;
        visibility: hidden;
        height: 0px;
        padding-top: 5rem;
    }

    #intro {
        padding-top: 0%;
        display: block;
    }

    .button_for_media {
        padding: 3%;
        border: 2px solid white;
    }

    #name {
        font-size: 1rem;
    }
    #myimage{
        margin:15%;
    }
    .social_media_link img {
        height:5vw
    }
}
